<!doctype html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="style.css">
	</head>
<div class="bg">
<body background="img/thumb-1920-435516.jpeg"></body>
</div>
<body>
<div class="navbar.drop">

	<div class="dropdown">
	  <button class="dropbtn"><img src="img/icons8-dropdown-field-100.png" 
		width="50" height="50">
		<i class="fa fa-caret-down"></i>
	  </button>
	  <div class="dropdown-content">
		<a href="https://github.com/liho2210/csci4308-capstone-Trimble">Repository</a>
		<!-- <a href="#">About Us</a>
		<a href="#">Resources</a> -->
	  </div>
	</div>
</div>
<div class="top_logo">
	<!-- <div class="move"> -->
		<div class="imgcontainer"style="display: inline;">
		<img src="img/unnamed.png" width="75" height="75" >
		</div>
	<!-- </div> -->
</div>
<div class="top_logo">
	<div class="move">
	<div class="imgcontainer"style="display: inline;">
		<img src="img/Colorado_Buffaloes_wordmark.svg" 
		width="55" height="55" >
	</div>
</div>
</div>

	


<div class="align">
<div class="grandParentContaniner">
	<div class="parentContainer">
		<div class="container_login">
			<div class="center_title">
				<pre>
					<b>
				     ________________     _____________   _____________   ________
				    / ____/ ____/ __ \   / ____/ ____/ | / / ____/  _/ | / / ____/
				   / / __/ __/ / / / /  / /_  / __/ /  |/ / /    / //  |/ / / __  
				  / /_/ / /___/ /_/ /  / __/ / /___/ /|  / /____/ // /|  / /_/ /  
				  \____/_____/\____/  /_/   /_____/_/ |_/\____/___/_/ |_/\____/   
					</b>
				</pre>
			</div>
			
			<div class="center_login">
				<!-- <div class="translate">
					<img src="img/fencing.png" width="25" height="25" >
				</div> -->
				<!-- <div class="imgcontainer">
					<img src="img/Screen Shot 2022-03-08 at 5.22.30 PM.png" alt="Avatar"
					width="90" height="80" class="avatar">
				</div> -->
				

				<div>
					<label for="uname"><b>Username</b></label>
					<input type="text" placeholder="Enter Username" name="uname" required>
				</div>

				<div class="center_login">
				</div>

				<div>
					<label for="psw"><b>Password</b></label>
					<input type="password" placeholder="Enter Password" name="psw" required>
				</div>

				<div class="center_login">
				</div>

				<a href="boundaries.html"><button>Login</button></a>
				
				<div class="center_login">
				</div>
				<!-- <div class="imgcontainer">
					<img src="img/Screen Shot 2022-03-08 at 5.19.47 PM.png" 
					width="140" height="60" alt="Avatar" class="avatar">
				</div> -->



				<!-- <div class="center_login">
				</div><div class="center_login">
				</div> -->

				
			</div>
		</div>
	</div>
</div>
</div>

</body>

</body>
</html>
