Html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

/* LOGIN PAGE */
.grandParentContaniner {
  display: table;
  height: 50%;
  margin: 0 auto;
}

.parentContainer {
  display: table-cell;
  vertical-align: middle;
}

.container_login {
  height: 370px;
  width: 600px;
  position: relative;
  /* border: 3px solid rgb(0, 52, 168); */
  border: 3px solid rgb(0, 106, 178);
  /* background-color: rgb(244, 244, 244); */
  background-image: linear-gradient(rgba(255, 255, 0, 0), rgb(255, 255, 255));
  /* background-color: rgb(255, 255, 255); */
  border-radius: 12px;
}

.center_login {
  -ms-transform: translateY(150%);
  transform: translateY(150%);

  line-height: 20px;
  height: 20px;
  text-align: center;
}

.edit {
  color: #f1f1f1;
  display: inline;
}

.align {
  /* background-color: #333; */
  -ms-transform: translateY(20%);
  /* -ms-transform: translateX(100%); */
  transform: translateY(20%);
  /* overflow: hidden; */
  position: fixed;
  /* bottom: 0; */
  left: 0;
  width: 100%;
  /* display: flex;
        justify-content: center; */
}

/* NAV */
.sidenav {
  height: 100%;
  width: 380px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(31, 31, 31, 0.899);
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ebebeb;
  display: block;
  transition: 0.3s;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/* CENTER */
.center {
  position: absolute;
  bottom: 0;
  left: 0;
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

.center_back {
  position: absolute;
  bottom: 0;
  left: 0;
  -ms-transform: translateY(-200%);
  transform: translateY(-200%);
}

.center_img {
  position: relative;
  -ms-transform: translateX(45%);
  transform: translateX(45%);
}

.center_title {
  position: relative;
  -ms-transform: translateX(-44.5%);
  transform: translateX(-44.5%);
  align-items: center;
  justify-content: center;
  font-size: 14px;
  /* 
    -ms-transform: translateY(-25%);
    transform: translateY(-25%); */
}

.center_logo {
  position: relative;
  -ms-transform: translateX(38%);
  transform: translateX(38%);
  /* 
    -ms-transform: translateY(-25%);
    transform: translateY(-25%); */
}

.bottom {
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  -ms-transform: translateY(87%);
  /* -ms-transform: translateX(100%); */
  transform: translateY(87%);
  /* translateX(100%); */
  width: 1000px;
  vertical-align: middle;

  height: 50%;
  margin: 0 auto;
}

.bg {
  /* height: 100%; */

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Place the navbar at the bottom of the page, and make it stick */
.botbar {
  /* background-color: #333; */
  -ms-transform: translateY(-10%);
  /* -ms-transform: translateX(100%); */
  transform: translateY(-10%);
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Style the links inside the navigation bar */
.botbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.botbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.botbar a.active {
  background-color: #04aa6d;
  color: white;
}

/* Navbar container */
.navbar_drop {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar_drop a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  /* padding: 14px 16px; */
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  /* overflow: hidden; */
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 8px 18px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar_drop a:hover,
.dropdown:hover .dropbtn {
  background-color: rgba(10, 0, 125, 0);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #a0a0a000;
  /* background-color: #f9f9f9; */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  /* background-color: #ddd; */
  background-image: linear-gradient(
    rgba(255, 255, 0, 0),
    rgba(255, 255, 255, 0.44)
  );
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.top_logo {
  float: right;
  /* font-size: 16px; */
  /* color: white; */
  /* text-align: center; */
  padding: 14px 16px;
  /* text-decoration: none; */
}

.move {
  position: relative;
  -ms-transform: translateY(10%);
  -ms-transform: translateX(50%);
  transform: translateY(10%) translateX(50%);
}

.translate {
  position: relative;
  -ms-transform: translateY(-170%);
  /* -ms-transform: translateX(50%); */
  transform: translateY(-170%);
}

.bottom_bot {
  bottom: 0;
}

.list {
  color: white;
}

.logout {
  position: relative;
  bottom: 0;
  right: 30px;
  float: right;
}

.back {
  position: relative;
  bottom: 0;
  /* left: 0; */
  float: left;
}

.nav_footer {
  height: 130px;
  width: 380px;
  position: fixed;
  bottom: 0;
  background-color: #a0a0a000;
}

.nav_header {
  height: 130px;
  width: 380px;
  top: 0;
  position: fixed;
}

.footer_bar {
  position: relative;
  top: 1px;
}

.edit {
  position: relative;
  float: right;
}

.container_button {
  height: 50px;
  width: 350px;
  position: relative;
}

.add_button {
  position: relative;
  float: right;
  right: 20px;
  /* font-size: 70px; */
  -ms-transform: translateY(-6px);
  /* -ms-transform: translateX(100%); */
  transform: translateY(-6px);
}

#map {
  /* width: 900px;
    height: 500px; */
  width: 100%;
  height: 100%;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

h2:after,
h2:before {
  content: "";
  width: 150px;
  height: 2px;
  background: rgb(0, 106, 178);
  margin: 0 10px;
}

.events {
  height: 30%;
  width: 300px;
  position: fixed;
  /* z-index: 1; */
  top: 0;
  right: 0;
  background-color: rgb(31, 31, 31);
  /* overflow-x: hidden; */
  overflow-y:auto
}

.event_title{
  z-index: 10;
  /* background: inherit; */
  top:0;
  position: sticky;
  /* top: 10px; */
  text-align: center;
  color: rgb(255, 255, 255);
  width: 100%;
  display: inline-block;
  font-size: 25px;
  background: inherit;
}

.event_list{
  position: relative;
  /* top: 5px; */
  /* right: 25px; */
  color: rgb(255, 255, 255);
  padding-right: 50px;
  /* padding-top: 10px; */
  font-size: 12px;
  /* padding-bottom: 20px; */
  width: 100;
  z-index: 5;
  overflow: auto;
}