<!DOCTYPE html>
    <html>
      <head>
        <title>ProjectTracker.html</title>
   
         <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



          <link href="../resources/css/my_style.css" rel="stylesheet">
      </head>
      <body>
        <div class="jumbotron text-center">
          <h1>Project Tracker</h1>
          <p></p>
        </div>

        <div class="container">
        <h2>Projects</h2>
        <div class="list-group">
          <a href="Project_1.html" class="list-group-item list-group-item-danger">First Project
          </a>
          <a href="#" class="list-group-item list-group-item-success">Second Project <span class="badge">3</span></a>


          <a href="#" class="list-group-item list-group-item-danger">Third Project</a>

          <a href="#" class="list-group-item list-group-item-danger">Fourth Project</a>

          <a href="#" class="list-group-item list-group-item-success">Fifth Project</a>
          
          <a href="#" class="list-group-item list-group-item-warning">Sixth Project</a>
        </div>
      </div>
        
      </body>
    </html>