<!DOCTYPE html>
    <html>
      <head>
        <title>Project_1.html</title>
   
         <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



          <link href="../resources/css/my_style.css" rel="stylesheet">
      </head>
      <body>
        <div class="jumbotron text-center">
          <h1>Project Tracker</h1>
          <p></p>
        </div>

        <div class="container">
        <h2>Boundaries</h2>
        <div class="list-group-boundaries">
          <a href="#" class="list-group-item list-group-item">Boundary #
          </a>
          <a href="#" class="list-group-item list-group-item">Boundary #</a>

          <br><br>

          <button onclick="this.innerHTML = Date()">Edit Boundaries</button>

<!--           <a href="#" class="list-group-item list-group-item-danger">Third Project</a>

          <a href="#" class="list-group-item list-group-item-danger">Fourth Project</a>

          <a href="#" class="list-group-item list-group-item-success">Fifth Project</a>
          
          <a href="#" class="list-group-item list-group-item-warning">Sixth Project</a> -->
        </div>

      </div>
        
      </body>
    </html>